.projects {
    background-color: var(--color-bg-primary);
}

.container {
    padding-top: 100px;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
    margin-top: 50px;
}

.card {
    background-color: var(--color-bg-secondary);
    padding: 2rem 1.75rem;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
    cursor: default;
}

.card:hover {
    transform: translateY(-7px);
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.folderIcon {
    color: var(--color-accent);
    width: 40px;
    height: 40px;
}

.folderIcon svg {
    width: 100%;
    height: 100%;
}

.externalLinks {
    display: flex;
    gap: 1rem;
    color: var(--color-text-secondary);
}

.externalLinks svg {
    width: 20px;
    height: 20px;
}

.externalLinks a:hover {
    color: var(--color-accent);
}

.projectTitle {
    color: var(--color-text-primary);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.projectDescription {
    color: var(--color-text-secondary);
    font-size: 1rem;
    margin-bottom: 1rem;
    flex: 1;
}

.projectTechList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    color: var(--color-text-secondary);
    font-family: 'Fira Code', monospace;
    font-size: 0.8rem;
}

.projectTechList li {
    margin-right: 15px;
}